.bodyBack {
  background-color: #f6f7fa;
}

/* text */

.content-header h1, h4, table {
  font-family: 'Roboto', sans-serif;
}

.fontRoboto {
  font-family: 'Roboto', sans-serif;
}

.fontRobotoMedium {
  font-family: 'Roboto', sans-serif;
  font-weight: medium;
  color: #0e1a35;
}

.messageActive {
  background-color: #dadee7;
  font-family: 'Roboto';
}

.text-size-20px {
  font-size: 20px;
}

/* table header font */

table {
  font-size: 13px;
}

tr>th {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-size: 1vw;
}

.text-size-24px {
  font-size: 24px;
}

.text-size-20px {
  font-size: 20px;
}

.text-size-14 {
  font-size: 14px;
}

.boldFont {
  font-weight: bold;
}

/* box inside footer */

div>footer {
  font-size: 10px;
  padding-top: 5px;
}

/* Roboto Font */

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
}

/* Font Nanum Gothic */

@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap);
}

.bg-color-white {
  background-color: white;
}

.bg-darkblue {
  background-color: #0e1a35!important;
}

.bg-pinkM {
  background-color: #f83c7b;
}

/* width height costum */

.w-47px {
  width: 47px!important;
}

.min-w-250px {
  min-width: 250px;
}

.min-w-200px {
  min-width: 200px!important;
}

.min-w-230px {
  min-width: 230px!important;
}

.min-height146 {
  min-height: 146px;
}

.max-height76 {
  max-height: 76px;
}

/* calender costum */

.calenderH {
  min-height: 30px!important;
}

.calenderTasks {
  border-left: #5584ff;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #e8e9ec;
  min-height: 25px;
}

.calenderTasksRed {
  border-left: #f83c7b;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #e8e9ec;
  min-height: 25px;
}

/* main donut to left list */

ul.yourSalesList {
  list-style: none;
  /* first list mark delete */
}

ul.yourSalesList li::before {
  content: "\2022";
  /* after list mark before add dot */
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* chart btn*/

.setChartBtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 150px;
  border-radius: 24px;
  border: 1px solid rgba(132, 146, 175, 0.3);
  background-color: #ff3a76;
  background-color: white;
  font-family: 'Roboto';
  font-size: 12px!important;
}

.setChartBtn::after {
  margin-left: 2px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dd";
}

.left-right-Arrow::after {
  margin-left: 6px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0da";
  font-size: 16px;
}

.left-right-Arrow::before {
  margin-right: 6px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9";
  font-size: 16px;
}

.no-border {
  border: 0px;
}

/* costum circle */

.numberCircle {
  border-radius: 50%;
  width: 32px!important;
  height: 32px!important;
  padding: 0px;
  background: #5384ff;
  border: 2px solid #5384ff;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px!important;
}

.numberCircleDanger {
  border-radius: 50%;
  width: 32px!important;
  height: 32px!important;
  padding: 0px;
  background: #f83c7b;
  border: 0px solid #f83c7b;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px!important;
}

.circleUserPanel {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

/* tooltip conf */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* position tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* chart height width set */

#sales-doughnut-chart-direct, #sales-doughnut-chart-channel, #sales-doughnut-chart-channel-2 {
  height: 130px;
  width: 130px;
  min-width: 130px;
}

#users-spline-chart {
  height: 250px;
}

/* dropdown content */

.myDropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 14px;
}

/* come to left drop menu (only use header menu) */

.left-DropCenter {
  left: -100px!important;
  width: 220px!important;
}

/* inside dropdown */

.myDropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.logo-mini {
  text-align: center;
}

.w-100 {
  width: 100%!important;
}

#main-LR, #head-LR {
  transition: margin-left .5s;
}

.leftNavLogo {
  margin-left: 40px!important;
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.leftNavClass {
  height: 100%;
  max-width: 250px;
  margin-left: -52px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
}

.leftNavClass a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.bg-darkblue-active {
  background-color: #112042;
  border-left-style: solid;
  border-color: #5584ff;
  border-width: 20px;
}

.bg-darkblue-deactive {
  background-color: #0e1a35;
  border-bottom-style: solid;
  border-color: #0d172e;
  border-width: 2px;
}

.bg-darkblue-deactive:hover {
  background-color: #112042;
  border-left-style: solid;
  border-color: #5584ff;
  border-width: 5px;
}

@media screen and (max-height: 450px) {
  .leftNavClass {
    padding-top: 15px;
  }
  .leftNavClass a {
    font-size: 18px;
  }
}

.cursorPointer {
  font-size: 22px;
  cursor: pointer;
}

.cursorPointer::before {
  margin-right: 2px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f0d9";
  font-size: 12px;
}

/* login+register page config */

.formBottomActive {
  background-color: #112042;
  border-bottom-style: solid;
  border-color: #5584ff;
  border-width: 5px;
  color: white;
}

.formBottomDectivate {
  background-color: #0e1a35;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #0d172e;
  border-width: 2px;
  color: white;
}

.formBottomDectivate:hover {
  background-color: #112042;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-color: #5584ff;
  border-width: 5px;
}

.bottomBorder {
  border-bottom-style: solid;
  border-color: gray;
  border-width: 1px;
}

.loginBack-G {
  background-image: url(../img/bg.jpeg);
}

.btn-pillM {
  border-radius: 24px;
}